.output {
  padding: 0 0 20px 30px;
  background-color: #f5f5f5;
  box-shadow: 11px -2px 10px -6px rgba(0, 0, 0, 0.36);
  height: 480px;
  width: 400px;
}

.border {
  box-shadow: 11px -8px 5px 0px rgba(0, 0, 0, 0.75);
}
